{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h1>Welcome to Text Analyzer</h1>
    <p>
  This is a beginner-friendly Flask web application built to analyze text.
  It calculates the number of words and characters, finds the most frequent
  words, and measures word variety in the text. Check it out by clicking
  <strong>Text Analyzer</strong> in the menu. You need the following
  technologies to build this web application:
</p>


    <ul class="tech-lists">
        {% for tech in techs %}
            <li class="tech">{{tech}}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}